{{!< html}}
<p>Faked login as <em>{{user}}</em></p>
<script type="text/javascript">
const xhr = (method, url, opts) => {
	if (!opts) {
		opts = {};
	}
	return new Promise((resolve, reject) => {
		const req = new XMLHttpRequest;
		req.open(method, url);
		if (opts.headers) {
			Object.keys(opts.headers).forEach((k) => {
				req.setRequestHeader(k, opts.headers[k]);
			});
		}
		req.send(opts.body);
		req.onreadystatechange = () => {
			if (req.readyState === 4) {
				if (req.status >= 200 && req.status < 300) {
					resolve(req);
				}
				else {
					reject(req);
				}
			}
		};
	});
};

const write = (acl, allowed) => {
	const p = document.createElement('p'), passed = acl[0] === allowed ? 'pass' : 'fail';
	p.setAttribute('style', `color: ${passed === 'pass' ? '#090' : '#900'}`);
	p.textContent = `${JSON.stringify(acl[1])}: ${allowed ? 'allowed' : 'forbidden'} : [${passed}]`;
	document.body.appendChild(p);
};
[
	[ true, { 'domain': 'public', 'action': 'view' } ],
	[ true, { 'domain': 'registered', 'action': 'view' } ],
	[ false, { 'domain': 'private', 'action': 'view' } ],
	[ false, { 'domain': 'doesnt', 'action': 'exist' } ],
	[ false, { 'domain': 'public', 'action': 'view', 'item_id': 'specifically disallowed' } ],
	[ true, { 'domain': 'public', 'action': 'view', 'item_id': 'implicitly allowed' } ]
].forEach((acl) => {
	const str = JSON.stringify(acl[1]);
	xhr('GET', `/check?spec=${str}`)
		.then(
			() => { write(acl, true); },
			() => { write(acl, false); }
		);
});
</script>
